<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Main{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>Main</h1>
    <nav>
      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contacs</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 Site</p>
  </footer>

  {% block scripts %}

  {% endblock %}
</body>
</html>
