<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>
    
    {% for post in posts %}
        <div>
            <p>{{ post.user.username }}: {{ post.content }}</p>
            <p>{{ post.created_at }}</p>
        </div>
    {% empty %}
        <p>No posts</p>
    {% endfor %}

    <div>
        {% if is_paginated %}
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                Page {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        {% endif %}
    </div>
</body>
</html>
